/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none; }

body {
  font-family: 'Poppins', sans-serif; }

.container {
  background-color: transparent; }

body header {
  color: white; }
  body header .bg-navbar {
    background-image: url(../img/fotos-web/banner-dos.jpg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 28rem; }
    body header .bg-navbar .nav .div .btn-bt {
      border: none !important;
      color: white; }
    body header .bg-navbar .nav .div .div-nav {
      display: flex;
      align-items: center; }
      body header .bg-navbar .nav .div .div-nav .img-logo {
        width: 55px;
        height: 55px; }
      body header .bg-navbar .nav .div .div-nav .a-nav {
        color: white;
        font-weight: bold;
        font-size: 2.2rem;
        margin-left: 1rem; }
    body header .bg-navbar .banner div {
      justify-content: center;
      align-items: center; }
      body header .bg-navbar .banner div p {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8rem;
        font-size: 3.8rem;
        font-weight: bold; }

body main .section-titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem; }
  body main .section-titulo h2 {
    color: black;
    font-size: 2rem;
    font-weight: bold; }

body main .section-subtitulo {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-left: 10rem;
  margin-right: 10rem; }
  body main .section-subtitulo .p-subtitulo {
    text-align: center;
    color: black;
    margin-top: 3rem; }

body main .img-home {
  display: flex;
  padding: 5rem; }
  body main .img-home .container-img {
    display: block;
    text-align: center;
    font-size: 1.2rem; }
    body main .img-home .container-img a {
      list-style: none;
      text-decoration: none;
      color: black; }
    body main .img-home .container-img .img-flex {
      margin-bottom: 1.3rem;
      width: 70%;
      height: auto; }

body main .section-banner-dos {
  background-image: url(../img/fotos-web/banner-uno.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 38rem;
  justify-content: center;
  align-items: center;
  display: flex; }
  body main .section-banner-dos .texto-banner-dos {
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white; }
    body main .section-banner-dos .texto-banner-dos h2 {
      font-size: 5rem;
      font-weight: bold; }

body footer {
  background-color: #38383B;
  height: 8rem;
  color: white;
  text-align: center;
  padding-top: 2rem; }
  body footer p {
    margin-top: 1rem; }

/* media querie para index*/
@media screen and (max-width: 480px) {
  body header .bg-navbar {
    height: 14rem; }
    body header .bg-navbar .banner div p {
      margin-top: 3rem;
      font-size: 1.6rem; }
    body header .bg-navbar .nav .div .div-nav .a-nav {
      font-size: 1.6rem; }
    body header .bg-navbar .nav .div .btn-bt {
      font-size: 1.2rem; }
  body main .section-titulo h2 {
    font-size: 1.5rem;
    margin-left: 0.5rem;
    text-align: center; }
  body main .section-subtitulo {
    margin: 0.5rem; }
    body main .section-subtitulo .p-subtitulo {
      margin-top: 0.8rem; }
  body main .img-home {
    margin-top: 1rem;
    display: block;
    padding: 3rem; }
  body main .section-banner-dos .texto-banner-dos h2 {
    font-size: 3rem; }
  body main .section-banner-dos .texto-banner-dos p {
    font-size: 0.93rem;
    margin-top: 2rem; } }

body header .bg-navbar-store {
  background-image: url(../img/fotos-web/banner-store.jpg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 10rem; }
  body header .bg-navbar-store .nav .div .btn-bt {
    border: none !important;
    color: white; }
  body header .bg-navbar-store .nav .div .div-nav {
    display: flex;
    align-items: center; }
    body header .bg-navbar-store .nav .div .div-nav .img-logo {
      width: 55px;
      height: 55px; }
    body header .bg-navbar-store .nav .div .div-nav .a-nav {
      color: white;
      font-weight: bold;
      font-size: 2.2rem;
      margin-left: 1rem; }
  body header .bg-navbar-store .banner-store div {
    justify-content: center;
    align-items: center; }
    body header .bg-navbar-store .banner-store div p {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.5rem;
      font-weight: bold; }

body .main-store {
  margin-bottom: 10rem;
  width: 98vw; }
  body .main-store .section-titulo-store {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem; }
    body .main-store .section-titulo-store h2 {
      color: black;
      font-size: 3rem;
      font-weight: bold; }
  body .main-store .section-productos {
    margin-top: 3rem; }
    body .main-store .section-productos p {
      text-align: center; }
      body .main-store .section-productos p a {
        text-decoration: none;
        list-style: none;
        color: black;
        padding-right: 2rem; }
      body .main-store .section-productos p .space {
        margin-right: 2rem;
        color: rgba(128, 128, 128, 0.555); }
  body .main-store .linea {
    border-top: 1px solid rgba(128, 128, 128, 0.575);
    width: 80%;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 2rem; }
  body .main-store .img-home {
    justify-content: space-around; }
    body .main-store .img-home .container-img {
      display: block;
      color: black;
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 1.3rem;
      width: 300px;
      height: 300px;
      background-size: cover;
      background-position: center;
      transition: 0.7s;
      background-image: url(../img/med-pouch/med-pouch-uno.PNG); }
      body .main-store .img-home .container-img .image {
        position: relative;
        padding-bottom: 100%; }
    body .main-store .img-home .container-img:hover {
      background-image: url(../img/med-pouch/med-pouch-dos.PNG); }
    body .main-store .img-home .container-img-dos {
      display: block;
      color: black;
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 1.3rem;
      width: 300px;
      height: 300px;
      background-size: cover;
      background-position: center;
      transition: 0.7s;
      background-image: url(../img/pouch-pistola/pouch-pistola-uno.PNG); }
      body .main-store .img-home .container-img-dos .image {
        position: relative;
        padding-bottom: 100%; }
    body .main-store .img-home .container-img-dos:hover {
      background-image: url(../img/pouch-pistola/pouch-pistola-dos.PNG); }
    body .main-store .img-home .container-img-tres {
      display: block;
      color: black;
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 1.3rem;
      width: 300px;
      height: 300px;
      background-size: cover;
      background-position: center;
      transition: 0.7s;
      background-image: url(../img/cinto-dos/cinto-home.PNG); }
      body .main-store .img-home .container-img-tres .image {
        position: relative;
        padding-bottom: 100%; }
    body .main-store .img-home .container-img-tres:hover {
      background-image: url(../img/cinto-dos/cinto-dos.PNG); }
    body .main-store .img-home .container-img-cuatro {
      display: block;
      color: black;
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 1.3rem;
      width: 300px;
      height: 300px;
      background-size: cover;
      background-position: center;
      transition: 0.7s;
      background-image: url(../img/chest-mk4/chest-rig-uno.PNG); }
      body .main-store .img-home .container-img-cuatro .image {
        position: relative;
        padding-bottom: 100%; }
    body .main-store .img-home .container-img-cuatro:hover {
      background-image: url(../img/chest-mk4/chest-rig-dos.PNG); }
    body .main-store .img-home .container-img-cinco {
      display: block;
      color: black;
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 1.3rem;
      width: 300px;
      height: 300px;
      background-size: cover;
      background-position: center;
      transition: 0.7s;
      background-image: url(../img/fpc5/chaleco-home.PNG); }
      body .main-store .img-home .container-img-cinco .image {
        position: relative;
        padding-bottom: 100%; }
    body .main-store .img-home .container-img-cinco:hover {
      background-image: url(../img/fpc5/chaleco-dos.png); }
    body .main-store .img-home .container-img-seis {
      display: block;
      color: black;
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 1.3rem;
      width: 300px;
      height: 300px;
      background-size: cover;
      background-position: center;
      transition: 0.7s;
      background-image: url(../img/cinto/cinto-home.PNG); }
      body .main-store .img-home .container-img-seis .image {
        position: relative;
        padding-bottom: 100%; }
    body .main-store .img-home .container-img-seis:hover {
      background-image: url(../img/cinto/cinto-dos.PNG); }
    body .main-store .img-home .container-img-siete {
      display: block;
      color: black;
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 1.3rem;
      width: 300px;
      height: 300px;
      background-size: cover;
      background-position: center;
      transition: 0.7s;
      background-image: url(../img/pouch-cierre/pouch-cierre.PNG); }
      body .main-store .img-home .container-img-siete .image {
        position: relative;
        padding-bottom: 100%; }
    body .main-store .img-home .container-img-siete:hover {
      background-image: url(../img/pouch-cierre/pouch-cierre.PNG); }
    body .main-store .img-home .container-img-ocho {
      display: block;
      color: black;
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 1.3rem;
      width: 300px;
      height: 300px;
      background-size: cover;
      background-position: center;
      transition: 0.7s;
      background-image: url(../img/pouch-cierre/pouch-verde.PNG); }
      body .main-store .img-home .container-img-ocho .image {
        position: relative;
        padding-bottom: 100%; }
    body .main-store .img-home .container-img-ocho:hover {
      background-image: url(../img/pouch-cierre/pouch-verde-dos.PNG); }
    body .main-store .img-home .container-img-nueve {
      display: block;
      color: black;
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 1.3rem;
      width: 300px;
      height: 300px;
      background-size: cover;
      background-position: center;
      transition: 0.7s;
      background-image: url(../img/doble-mag-inserto/doble-mag-uno.PNG); }
      body .main-store .img-home .container-img-nueve .image {
        position: relative;
        padding-bottom: 100%; }
    body .main-store .img-home .container-img-nueve:hover {
      background-image: url(../img/doble-mag-inserto/doble-mag-dos.PNG); }
    body .main-store .img-home .container-img-diez {
      display: block;
      color: black;
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 1.3rem;
      width: 300px;
      height: 300px;
      background-size: cover;
      background-position: center;
      transition: 0.7s;
      background-image: url(../img/dangler/dangler-uno.PNG); }
      body .main-store .img-home .container-img-diez .image {
        position: relative;
        padding-bottom: 100%; }
    body .main-store .img-home .container-img-diez:hover {
      background-image: url(../img/dangler/dangler-dos.PNG); }
    body .main-store .img-home .container-img-once {
      display: block;
      color: black;
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 1.3rem;
      width: 300px;
      height: 300px;
      background-size: cover;
      background-position: center;
      transition: 0.7s;
      background-image: url(../img/chest-rig-uno/chest-home.PNG); }
      body .main-store .img-home .container-img-once .image {
        position: relative;
        padding-bottom: 100%; }
    body .main-store .img-home .container-img-once:hover {
      background-image: url(../img/chest-rig-uno/chest-dos.PNG); }
    body .main-store .img-home .container-img-doce {
      display: block;
      color: black;
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 1.3rem;
      width: 300px;
      height: 300px;
      background-size: cover;
      background-position: center;
      transition: 0.7s;
      background-image: url(../img/plate-carrier-slim/plate-carrier.PNG); }
      body .main-store .img-home .container-img-doce .image {
        position: relative;
        padding-bottom: 100%; }
    body .main-store .img-home .container-img-doce:hover {
      background-image: url(../img/plate-carrier-slim/plate-carrier-dos.PNG); }

/* media querie para store*/
@media screen and (max-width: 545px) {
  body header .bg-navbar-store {
    height: 14rem; }
    body header .bg-navbar-store .banner-store div p {
      margin-top: 3rem;
      font-size: 1.6rem; }
    body header .bg-navbar-store .nav .div .div-nav .a-nav {
      font-size: 1.6rem; }
    body header .bg-navbar-store .nav .div .btn-bt {
      font-size: 1.2rem; }
  body .main-store .section-titulo-store h2 {
    font-size: 2.5rem;
    margin-left: 0.5rem;
    text-align: center; }
  body .main-store .section-subtitulo {
    margin: 0.5rem; }
    body .main-store .section-subtitulo .p-subtitulo {
      margin-top: 0.8rem; }
  body .main-store .img-home {
    margin-top: 1rem;
    display: block;
    padding: 3rem; }
  body .main-store .section-banner-dos .texto-banner-dos h2 {
    font-size: 3rem; }
  body .main-store .section-banner-dos .texto-banner-dos p {
    font-size: 0.93rem;
    margin-top: 2rem; }
  body .main-store .img-home .container-img {
    margin-bottom: 8rem; }
  body .main-store .img-home .container-img-dos {
    margin-bottom: 8rem; }
  body .main-store .img-home .container-img-tres {
    margin-bottom: 3rem; }
  body .main-store .img-home .container-img-cuatro {
    margin-bottom: 8rem; }
  body .main-store .img-home .container-img-cinco {
    margin-bottom: 6rem; }
  body .main-store .img-home .container-img-seis {
    margin-bottom: 1rem; }
  body .main-store .img-home .container-img-siete {
    margin-bottom: 6rem; }
  body .main-store .img-home .container-img-ocho {
    margin-bottom: 6rem; }
  body .main-store .img-home .container-img-nueve {
    margin-bottom: 3rem; }
  body .main-store .img-home .container-img-diez {
    margin-bottom: 10rem; }
  body .main-store .img-home .container-img-once {
    margin-bottom: 10rem; } }

.body-productos {
  min-height: 100vh;
  background-color: white; }
  .body-productos .main_productos {
    display: flex;
    flex-wrap: wrap; }
    .body-productos .main_productos .prod-description {
      margin-top: 3rem;
      margin-left: 3rem;
      display: flex;
      align-items: center;
      flex-basis: 100%; }
      .body-productos .main_productos .prod-description .a {
        text-decoration: none;
        color: black; }
      .body-productos .main_productos .prod-description .prod-titulo {
        font-size: 1.5rem;
        margin-bottom: 0.2rem; }
      .body-productos .main_productos .prod-description .prod-name {
        margin-bottom: 0;
        color: black;
        white-space: nowrap; }
    .body-productos .main_productos .div-medio {
      display: flex; }
      .body-productos .main_productos .div-medio .prod {
        flex-basis: 50%;
        margin-left: 8rem;
        margin-top: 5rem;
        margin-bottom: 5rem; }
        .body-productos .main_productos .div-medio .prod .img_prod {
          width: 500px;
          height: 500px;
          margin-bottom: 20px;
          overflow: hidden; }
          .body-productos .main_productos .div-medio .prod .img_prod .img_principal {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.6 ease; }
          .body-productos .main_productos .div-medio .prod .img_prod .img_principal:hover {
            transform: scale(1.2); }
        .body-productos .main_productos .div-medio .prod .thumbnail_container {
          height: 5rem;
          width: 500px;
          display: flex;
          justify-content: space-between; }
          .body-productos .main_productos .div-medio .prod .thumbnail_container .thumbnail {
            width: 5rem;
            height: 5rem;
            cursor: pointer;
            opacity: 0.7;
            transition: 0.3s; }
          .body-productos .main_productos .div-medio .prod .thumbnail_container .thumbnail:hover {
            opacity: 1; }
      .body-productos .main_productos .div-medio .prod-caract {
        width: 50%;
        margin-top: 10rem;
        font-size: 1.5rem;
        color: black;
        flex-basis: 50%; }
        .body-productos .main_productos .div-medio .prod-caract .prod-nombre {
          font-size: 2.5rem;
          font-weight: bold; }
        .body-productos .main_productos .div-medio .prod-caract .container {
          padding-left: 0; }
          .body-productos .main_productos .div-medio .prod-caract .container .title {
            cursor: pointer;
            background-color: #ffffff;
            padding: 10px;
            border-top: 1px solid #ccc;
            border-radius: 4px;
            display: flex;
            justify-content: space-between;
            align-items: center; }
          .body-productos .main_productos .div-medio .prod-caract .container .title-dos {
            cursor: pointer;
            background-color: #ffffff;
            padding: 10px;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            border-radius: 4px;
            display: flex;
            justify-content: space-between;
            align-items: center; }
          .body-productos .main_productos .div-medio .prod-caract .container .content {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out; }
            .body-productos .main_productos .div-medio .prod-caract .container .content ul .li-prod {
              font-size: 1rem;
              margin-bottom: 1rem;
              margin-top: 1rem; }
        .body-productos .main_productos .div-medio .prod-caract .buy-button {
          display: block;
          width: 50%;
          margin-top: 2rem;
          margin-bottom: 2rem;
          padding: 10px;
          color: white;
          background-color: #8f8e8e;
          border: 1px solid #ccc;
          border-radius: 4px;
          font-weight: bold;
          transition: opacity 0.2s ease-in-out; }
        .body-productos .main_productos .div-medio .prod-caract .buy-button:hover {
          opacity: 0.6; }
    .body-productos .main_productos .podria-gustarte {
      margin-left: 3rem; }
      .body-productos .main_productos .podria-gustarte .titulo-prod {
        font-size: 2.5rem;
        color: black;
        font-weight: bold; }

.active {
  opacity: 1 !important; }

/* media querie para producto*/
@media screen and (max-width: 480px) {
  .body-productos .main_productos {
    display: block; }
    .body-productos .main_productos .prod-description {
      display: none; }
    .body-productos .main_productos .div-medio {
      display: block; }
      .body-productos .main_productos .div-medio .prod {
        margin-left: 0px;
        width: 80%; }
        .body-productos .main_productos .div-medio .prod .img_prod {
          width: 120%;
          height: 400px; }
        .body-productos .main_productos .div-medio .prod .thumbnail_container {
          width: 430px; }
      .body-productos .main_productos .div-medio .prod-caract {
        width: 90%;
        margin-left: 1rem; }
        .body-productos .main_productos .div-medio .prod-caract .prod-nombre {
          margin-bottom: 3rem; }
          .body-productos .main_productos .div-medio .prod-caract .prod-nombre p {
            font-size: 2rem; }
        .body-productos .main_productos .div-medio .prod-caract .caract {
          margin-top: 3rem; } }
