@mixin bg{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@mixin centrar{
    justify-content: center;
    align-items: center;
}

@mixin img-productos{
    margin-bottom: 1.3rem;
    width: 300px;
    height: 300px;
    background-size: cover;
    background-position: center;
    transition: 0.7s;
}

@mixin text-prod{
    display: block;
    color: black;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

@mixin boton{
    background-color: #888;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}