@import "../variables/mixin";
@import "../variables/extend";
@import "../variables/vars";

// estilos del index
body{
    header{
        color: $color-header;
        .bg-navbar{
            background-image: url(../img/fotos-web/banner-dos.jpg);
            background-color: transparent;
            @include bg;
            height: 28rem;
            .nav{
                .div{
                    .btn-bt{
                        border: none !important;
                        color: white;
                    }
                    .div-nav{
                        display: flex;
                        align-items: center;
                        .img-logo{
                            width: 55px;
                            height: 55px;
                        }
                        .a-nav{
                            color: $color-header;
                            font-weight: bold;
                            font-size: 2.2rem;
                            margin-left: 1rem;
                        }
                    }
                    
                }
            }
            .banner{
                div{
                    @include centrar;
                    p{
                        display: flex;
                        @include centrar;
                        margin-top: 8rem;
                        font-size: 3.8rem;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}